/*web based font*/
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*background styles and text alignment for header*/
header{
    background: #000000;
    color: #ffffff;
    font-size: 1.4em;
    text-align: center;
    font-family: "Hammersmith One", "Times New Roman", serif;
    font-weight: bold;
    text-shadow: 3px 3px 8px #000000;
    padding: 1em;
}

header p{
    font-size: 1.75em;
}

/*removes underline from link in header*/
header a{text-decoration:none;}

/*styles logo*/
header img{
    float: left;
    height: auto;
    max-width: 100px;
    margin-top: 3em;
    margin-left: 1em;
    background-color: #000000;
}

/*text properties and clear for nav*/
nav{
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 1.3em;
    text-align: right;
    border-radius: 0;
    clear: both;
}

/*text padding and margins for nav*/
nav ul{
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
}

/*background color, rounded corners, remove bullet style, and apply margin and padding for list of items in nav*/
nav li{
    display: inline-block;
    list-style-type: none;
    background-color: #000000;
    margin: 0.2em;
    padding: 0.2em;
}

/*removes underline and changes nav link text color to white*/
nav li a{
    text-decoration: none;
}

/*pseudo-classes for nav link colors*/
nav li:hover{background-color: #2f3c42;}

nav li a:link{color: #ffffff;}

nav li a:hover{color: #72f766;}

nav li a:visited{color: #ffffff;}

/*background color for the body*/
body {
    background-color: #222222;
}

/*width for outerwrapper*/
#outerwrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #222222;
    color: white;
    height: 100%;
    width: 100%;
}

.titlebar {
    color: #ff2222;
    font-size: 2rem;
    border-bottom: 2px solid grey;
    background-color: #111111;
    padding: 1rem 0rem 1rem 2rem;
}

.search-bar {
    border: 2px solid white;
    padding: 1rem;
}

.search-header {
    font-size: 3rem;
}

.search-bar p {
    font-size: 2rem;
    margin: 1rem;
}

.search-btn {
    border: none;
    text-decoration: none;
    padding: .5rem 2rem;
    background-color: lightgrey;
}

.search-btn:hover {
    background-color: grey;
}

.search-options p {
    display: inline;
}

.search-options {
    display: inline;
}

main {
    padding: 2rem 2rem 0 2rem;
    font-size: 62.5%;
}

.results-container {
    max-width: 65%;
    margin: 2rem 0;
    font-size: 62.5%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    justify-content: space-around;
    font-size: 62.5%;
}

.card {
    margin: 2rem 1rem;
}

.split {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#collection {
    top: 0;
    position: sticky;
    min-width: 40rem;
    width: 25%;
    background-color: #151515;
    padding: 2rem;
    font-size: 62.5%;
}

#collection > h3 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid grey;
    position: sticky;
}

.collection-card {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 2rem;
    border: 1px solid orange;
    background-color: lightgrey;
    color: black;
    overflow-x: auto;
}

.card-infobox {
    display: none;
}

.collection-card > p {
    display: inline;
}

.collection-header {
    top: 0;
    position: sticky;
    background-color: #151515;
    font-size: 2rem;
    margin: .5rem 0;
}

.collection-card > button {
    border: none;
    text-decoration: none;
    width: 4rem;
    float: right;
    font-size: 2rem;
}

.sub-card {
    background-color: red;
    border-radius: .5rem;
}

.sub-card:hover {
    background-color: yellow;
}


.add-card {
    background-color: green;
    border-radius: .5rem;
}

.add-card:hover {
    background-color: lightgreen;
}

#draft-deck > p {
    font-size: 2rem;
}

#draft-deck {
    max-height: 60vh;
    overflow: auto;
}

.page-links {
    padding: 2rem;
    font-size: 1.5rem;
}

.page-control {
    padding: .5rem 4rem;
    background-color: darkorange;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.page-control:visited {color: black;}
.page-control:focus {color: black;}

.page-control:hover {
    background-color: orange;
    color: black;
}

.page-right {
    float: right;
}

.page-left {
    float: left;
}

#clear-deck {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem;
    border: none;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: red;
    transition: .5s;
}

#clear-deck:hover {
    color: black;
    background-color: yellow;
}

#simulate {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem;
    border: none;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: blue;
    transition: .5s;
}

#simulate:hover {
    color: black;
    background-color: lightblue;
}

.empty-search {
    font-size: 4rem;
}

.rarity-count {
    font-size: 1.2rem;
}

#import-overlay {
    display: none;
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    background-color: #111111;
    border-radius: 1rem;
}

.import-container {
    padding: 2rem;
}

#close-import {
    float: right;
}

#import-deck {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem;
    border: none;
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: blue;
    transition: .5s;
}

.flashes {
    color: white;
    background-color: red;
    font-size: 2rem;
    list-style: none;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
}

.choose-file {
    font-size: 3rem;
    margin: 3rem 0;
}

.upload {
    font-size: 3rem;
}

.upload-container {
    margin: 2rem;
}

