
<html>
<head>
    <title>Draft Simulator Prototype</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='add_card.js')}}"></script>
</head>

<body>
    <div>
        <h1>Search</h1>
        <form action="{{url_for('search', page=1)}}" method="get">
            <p>Name: <input type="text" name="name" value="{{request.args.get('name', '')}}"></p>
            <p>Color: <select name="color" value="">
                        <option value="">Any</option>
                        <option value="black">Black</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="red">Red</option>
                        <option value="white">White</option>
                    </select></p>
            <p>Set: <input list="sets" name="set" value="{{request.args.get('set', '')}}">
            <p>Type: <select name="type" value="">
                        <option value="">Any</option>
                        <option value="land">Land</option>
                        <option value="creature">Creature</option>
                        <option value="artifact">Artifact</option>
                        <option value="enchantment">Enchantment</option>
                        <option value="instant">Instant</option>
                        <option value="sorcery">Sorcery</option>
                    </select></p>
            <datalist id="sets">
            {% for set in set_names %}
                <option value="{{set}}">
            {% endfor %}
            </datalist></p>
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <h3>Draft Deck</h3>
        <p id="draft-deck">{{session_deck}}</p>
        <button id="clear-deck" type="submit" value="clear" name="clear">Clear</button>
    </div>
    <div>
        <h2>Results</h2>
        <div>
        {% if hasPrev %}
            <a href="{{url_for('search', page=page-1,
                name=request.args.get('name'),
                color=request.args.get('color'),
                set=request.args.get('set'),
                type=request.args.get('type'))}}">Previous Page</a>
        {% endif %}
        {% if hasNext %}
            <a href="{{url_for('search', page=page+1,
                name=request.args.get('name'),
                color=request.args.get('color'),
                set=request.args.get('set'),
                type=request.args.get('type'))}}">Next Page</a>
        {% endif %}
        </div>
        <div>
        {% for card in cards %}
            <h3>{{ card.name }}</h3>
            <p>Text: {{ card.text }}</p>
            <p>Set: {{ card.set_name }}</p>
            <p>Types: {{ card.types }}</p>
            <p>Id: {{ card.multiverse_id }}</p>
            <img src="{{card.image_url}}">
            <button value="{{ card.multiverse_id }}" name="add_card" class="add-card">Add to deck</button>
        {% endfor %}
        </div>
    </div>
    <div>
    {% if hasPrev %}
        <a href="{{url_for('search', page=page-1,
            name=request.args.get('name'),
            color=request.args.get('color'),
            set=request.args.get('set'),
            type=request.args.get('type'))}}">Previous Page</a>
    {% endif %}
    {% if hasNext %}
        <a href="{{url_for('search', page=page+1,
            name=request.args.get('name'),
            color=request.args.get('color'),
            set=request.args.get('set'),
            type=request.args.get('type'))}}">Next Page</a>
    {% endif %}
    </div>
</body>
</html>
