<!DOCTYPE html>
<html lang="en">

<head>
    <title>Draft Simulator Prototype</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="icon" href="/static/images/favicon.png">
</head>

<body>
    <div id="import-overlay">
        <div class="import-container">
            <h1>Import Cards<span id="close-import">X</span></h1>
            <h3>JSON only</h1>
            <div class="upload-container">
                <form method="post" enctype="multipart/form-data" action="/import">
                    <input class="choose-file" type="file" name="file" accept=".json,json">
                    <input class="upload" type="submit" value="Upload">
                </form>
            </div>
        </div>
    </div>
    <div id="outerwrapper">
        <header>
            <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='images/logo.png')}}" alt= "Magic the Gathering Logo"></a>
            <p>Magic the Gathering Sealed and Draft Simulator</p>
        </header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('draft')}}">Start Draft</a></li>
                <li><a href="{{url_for('sealed')}}">Start Sealed</a></li>
            </ul>
        </nav>
        <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
            <div class="search-bar">
                <h2 class="search-header">Search</h2>
                <form action="{{url_for('search', page=1)}}" method="get">
                    <div class="search-options">
                        <p>Name: <input type="text" name="name" value="{{request.args.get('name', '')}}"></p>
                        <p>Color: <select name="color">
                                <option value="" selected>Any</option>
                                <option value="black">Black</option>
                                <option value="blue">Blue</option>
                                <option value="green">Green</option>
                                <option value="red">Red</option>
                                <option value="white">White</option>
                            </select></p>
                        <p>Set: <input list="sets" name="set" value="{{request.args.get('set', '')}}">
                            <p>Type: <select name="type">
                                    <option value="" selected>Any</option>
                                    <option value="land">Land</option>
                                    <option value="creature">Creature</option>
                                    <option value="artifact">Artifact</option>
                                    <option value="enchantment">Enchantment</option>
                                    <option value="planeswalker">Planeswalker</option>
                                    <option value="instant">Instant</option>
                                    <option value="sorcery">Sorcery</option>
                                </select></p>
                            <datalist id="sets">
                                {% for set in set_names %}
                                <option value="{{set}}">
                                    {% endfor %}
                            </datalist>
                    </div>
                    <button class="search-btn" type="submit">search</button>
                </form>
            </div>
            <div class="split">
                <div class="results-container">
                    <div class="page-links">
                        {% if has_prev %}
                        <a class="page-control page-left" href="{{url_for('search', page=page-1,
                        name=request.args.get('name'),
                        color=request.args.get('color'),
                        set=request.args.get('set'),
                        type=request.args.get('type'))}}">&lt; Prev Page</a>
                        {% endif %}
                        {% if has_next %}
                        <a class="page-control page-right" href="{{url_for('search', page=page+1,
                        name=request.args.get('name'),
                        color=request.args.get('color'),
                        set=request.args.get('set'),
                        type=request.args.get('type'))}}">Next Page &gt;</a>
                        {% endif %}
                    </div>
                    <div class="cards-container">
                        {% if cards %}
                        {% for card in cards %}
                        <div class="card">
                            <div class="card-infobox">
                                <h3>{{ card.name }}</h3>
                                <p>Text: {{ card.text }}</p>
                                <p>Set: {{ card.set_name }}</p>
                                <p>Types: {{ card.types }}</p>
                                <p>Id: {{ card.multiverse_id }}</p>
                            </div>
                            <button value="{{ card.multiverse_id }}" name="add_card" class="add-card"><img
                                    class="card-image" src="{{card.image_url}}" alt="{{ card.name }}"></button>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <p class="empty-search">No search results</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div id="collection">
                    <div class="collection-header">
                        <h3>Draft Deck</h3>
                        <p class="total-cards">Total Cards: <p>
                        <div class="rarity-count">
                            <p>Commons: <span id="common-count">0</span></p>
                            <p>Uncommons: <span id="uncommon-count">0</span></p>
                            <p>Rares: <span id="rare-count">0</span></p>
                            <p>Mythics: <span id="mythic-count">0</span></p>
                        </div>
                    </div>
                    <div id="draft-deck"></div>
                    <button id="clear-deck" type="submit" value="clear" name="clear">Clear</button>
                    <button id="import-deck">Import</button>
                    <a id="export-deck" download="deck.json"><button id="export-btn">Export</button></a>
                </div>
            </div>
        </main>
        <footer>
            <p>Magic the Gathering, FNM is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All
                rights reserved. DraftSim is a fan-made site and has no affiliation with WotC or Hasbro.</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='js/ajax.js')}}"></script>
    </div>
</body>

</html>
