<!DOCTYPE html>
<html lang="en">

    <head>
        <title>MtG DraftSim | Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="images/favicon.png">
    </head>

    <body>
        <div id="outerwrapper">
            <header>
                 <a href="index.html"><img src="images/logo.jpg" alt= "Magic the Gathering Logo"></a>
                <p>Magic the Gathering Sealed and Draft Simulator</p>
            </header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="editcollection.html">Edit Collection</a>
                    </li>
                    <li><a href="viewcollection.html">View Collection</a>
                    </li>
                    <li><a href="draft.html">Start Draft</a>
                    </li>
                    <li><a href="sealed.html">Start Sealed</a>
                    </li>
                </ul>
            </nav>
            <div id="main">
                	<h1>Title of Page Here!</h1>
            </div>
            <footer>
                <p>Magic the Gathering, FNM is TM and copyright Wizards of the Coast, Inc, a subsidiary of Hasbro, Inc. All rights reserved. DraftSim is a fan-made site and has no affiliation with WotC or Hasbro.</p>
            </footer>
        </div>
    </body>

</html>